.ttc{
  color: black;
}
.ttc:hover{
  color: black;
}
#business{
  background-color: #e59866;
}
#quest{
  display: none;
  background-color: #e59866;
}
#somo{
  display: none;
  text-align: center;
}
#q2 {
  display: none;
}
#q3{
  display: none;
}
#q4{
  display: none;
}
#q5{
  display: none;
}
#a1{
  background-color: #ecf0f1;
}
.one{
  height: 150px;
  width: 100%;
}
